
@{
    Layout = null;
}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TechTrove | Products List</title>
    <link href="~/StyleSheet2.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header id="header">
            <a href="https://localhost:44352/Home/AdminProductsList" id="pagename">TechTrove</a>
            <div id="accountBar">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="username-text" value="Admin" readonly />
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="account-dropdown" value="0">
                <button id="logout">Logout</button>
            </div>
        </header>

        <!--Delete Confirmation-->
        <div class="popup-bg">
            <div class="del-notif">
                <div class="d-notifIcon">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <h1>Do you want to delete <label id="prodName"></label>?</h1>
                <div class="confirm">
                    <button id="yes">Yes</button>
                    <button id="cancel">Cancel</button>
                </div>
            </div>
        </div>

        <!--Pop up add product-->
        <div class="transparent-bg">
            <div class="add-container">
                <button class="back-btn"><i class="fa-solid fa-chevron-left"></i> Back To Page</button>
                <h1>Product Entry Form</h1>
                <form class="input-fields" method="post" action="../home/AdminProductsList" enctype="multipart/form-data">
                    <input type="text" id="prod1" name="prod-name" placeholder="Product Name" required />
                    <input type="text" id="prod1" name="prod-desc" placeholder="Product Description" required />
                    <input type="number" min="0" id="prod1" name="prod-price" placeholder="Product Price" required />
                    <input type="number" min="0" id="prod1" name="prod-stock" placeholder="Product Stock" required />
                    <label for="prod2">Upload Image</label>
                    <input type="file" id="prod2" name="img" accept="image/png, image/jpeg, image/jpg, image/bmp, image/gif" required />
                    <span id="file-name" name="prod-img">None</span>
                    <button id="save-prod">Save</button>
                </form>
            </div>
        </div>

        <!--Table of Products-->
        <div class="main-container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th width="15%"><button class="addprod-btn"><i class="fa-solid fa-plus"></i> Add Product</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            string connStr = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\patty\source\repos\form\form\App_Data\UPDRAFT_DATABASE.mdf;Integrated Security=True";

                            using (var db = new SqlConnection(connStr))
                            {
                                db.Open();

                                using (var cmd = db.CreateCommand())
                                {
                                    cmd.CommandType = CommandType.Text;
                                    cmd.CommandText = "SELECT * FROM PRODUCT_ENTRY";

                                    using (var reader = cmd.ExecuteReader())
                                    {

                                        if (reader.HasRows)
                                        {
                                            while (reader.Read())
                                            {
                                                <tr class="items">
                                                    <td class="pId"><label>@reader["prod_id"]</label></td>
                                                    <td class="pImg">
                                                        <img src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["prod_img"]+"")" />
                                                    </td>
                                                    <td class="pName"><label>@reader["prod_name"]</label></td>
                                                    <td class="pDesc">@reader["prod_description"]</td>
                                                    <td class="pPrice">$@reader["prod_price"]</td>
                                                    <td class="pStock">@reader["prod_stock"]</td>
                                                    <td class="action">
                                                        <button onclick="editProduct(this)"><i class="fa-solid fa-pen"></i> Edit</button>
                                                        <button onclick="deleteProduct(this)"><i class="fa-solid fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery/jquery-3.7.1.js"></script>
    <script src="~/Scripts/adminProductsScript.js"></script>
    <script src="~/Scripts/adminHeaderScript.js"></script>
</body>
</html>
