
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RealTech | Forgot Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.7.1.js"></script>
    <script src="~/Scripts/forgotPassScript.js"></script>
</head>
<body>
    <div>
        <div class="header2">
            <a>RealTech</a>
        </div>
        <div class="main-container">
            <div class="sec1-container">
                <button class="prev" id="prev-fpUser"><i class="fa-solid fa-chevron-left"></i>Go Back</button>
                <h1>Forgot Password</h1>
                <div class="fp-fields">
                    <label>Username</label>
                    <input type="text" id="fp-username" placeholder="Enter your username" onkeyup="returnBorder(this)"/>
                </div>
                <div class="next-container">
                    <button class="next" id="next-fpUser">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                </div>
            </div>
            <div class="sec2-container">
                <button class="prev" id="prev-fpEmail"><i class="fa-solid fa-chevron-left"></i>Go Back</button>
                <h1>Forgot Password</h1>
                <div class="fp-fields">
                    <label>Email</label>
                    <input type="text" id="fp-email" placeholder="Enter your email" onkeyup="returnBorder(this)"/>
                </div>
                <div class="next-container">
                    <button class="next" id="next-fpEmail">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                </div>
            </div>
            <div class="sec3-container">
                <button class="prev" id="prev-fpDob"><i class="fa-solid fa-chevron-left"></i>Go Back</button>
                <h1>Forgot Password</h1>
                <div class="fp-fields">
                    <label>Birthdate</label>
                    <input type="date" id="fp-dob" onclick="returnBorder(this)"/>
                </div>
                <div class="next-container">
                    <button class="next" id="next-fpDob">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                </div>
            </div>
            <div class="sec4-container">
                <button class="prev" id="prev-fpNewPass"><i class="fa-solid fa-chevron-left"></i>Go Back</button>
                <h1>Forgot Password</h1>
                <div class="fp-fields">
                    <label>New Password</label>
                    <input type="password" id="fp-newpass" placeholder="Enter new password" onkeyup="returnBorder(this)"/>
                    <input type="password" id="fp-confirmpass" placeholder="Confirm password" onkeyup="returnBorder(this)"/>
                </div>
                <div class="next-container">
                    <button class="next" id="finish-fpNewPass">Finish <i class="fa-solid fa-circle-chevron-right"></i></button>
                </div>
            </div>
            <div class="successNotif">
                <button class="prev" id="backToSignIn"><i class="fa-solid fa-chevron-left"></i>Sign In</button>
                <div class="notifIcon">
                    <div class="checkContainer"><i class="fa-solid fa-check"></i></div>
                </div>
                <h1>Changes Saved!</h1>
            </div>
        </div>
    </div>
</body>
</html>
